@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caveat:wght@400;500;600;700&family=Indie+Flower&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&family=Work+Sans:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    font-family:'Istok Web';
    background-color: #A9A5A5;
    font-size: 1,2rem;
    height: 100%;
    color:aliceblue;
    min-width: 500px;
    }
    .grid-container >*{
        border-radius: 4px;
        padding: 5px;
        text-align: center;
        font-family:'Istok Web';
        font-size: 1,2rem;
        height: 100%;
        color:rgb(255, 255, 255);
    }



.sidebar{
    /*grid-area: sidebar;*/
    background-color:#83d18d;
    font-family: 'Istok Web';
    padding: 30px;
}
.main{
    background-color:#dfdfdf;
    font-family: 'Istok Web';
    padding: 5px;
}
.contenido{
    margin-top: 5px;
   /* grid-area: contenido;*/
    border-radius: 15px;
    color: #000;
    background-color:#ffffff;
    font-family: 'Istok Web';
    padding: 10px;
    min-height: 250px;
}
.contenido .dashboard{
    border: #5C5C5C solid 2px;
    border-radius: 20px;
    width: 95%;
    height: 300px;
    
}

/*------------ VERSION ESCRITORIO----------------------*/
@media(max-width: 1600px){
    
  .grid-container{
    margin-left: 160px;
    margin-top: 90px;
  }
 
   
}
/* -------------------------------------FIN VERSION ESCRITORIO---------------------------------------------*/

/*------------------------------------------ VERSION MOVIL--------------------------------------*/
@media(max-width: 600px){
    .grid-container{
        margin-left: 0px;
        margin-top: 70px;
      }
   
}