@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caveat:wght@400;500;600;700&family=Indie+Flower&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&family=Work+Sans:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    font-family:'Istok Web';
    background-color: #A9A5A5;
    font-size: 1,2rem;
    height: 100%;
    color:aliceblue;
    min-width: 500px;
    transition: 0.3s all ease-out;
    }
    .grid-container >*{
        border-radius: 4px;
        padding: 0px;
        text-align: center;
        font-family:'Istok Web';
        font-size: 1,2rem;
        height: 100%;
        color:rgb(255, 255, 255);
        transition: 0.3s all ease-out;
    }


    .grid-container .main{
    background-color:#dfdfdf;
    font-family: 'Istok Web';
    padding: 5px;
}
.grid-container .main .contenido{
    border-radius: 15px;
    color: #000;
    background-color:#ffffff;
    font-family: 'Istok Web';
    padding: 0px;
    min-height: 250px;
    min-width: 400px;
    padding: 10px 5px;
}
.grid-container .main .contenido .reportes{
    font-family:'Istok Web';
   padding: 5px 10px;
}
.grid-container .main .contenido .reportes img{
    width: 120px;
    height: 120px;
    border: #cfcfcf80 solid 5px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-top: 0px;

}

.grid-container .main .contenido .butonReport:hover{
    border: #c5c5c5 solid 3px;
    color: #ff6600;
    border-radius: 50px;
    background-color:transparent;
    transition: 0.3s all ease-out;
    font-weight: bolder;
cursor: pointer;
}
/*------------ VERSION ESCRITORIO----------------------*/
@media(min-width: 1201px){

  .grid-container{
    margin-left: 160px;
    margin-top: 70px;
   
  }
  .grid-container .main{
    background-color:#dfdfdf;
    font-family: 'Istok Web';
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-out;
}
  .butonReport{
    width: 284px;
    height: 35px;
    border: none;
    color: #ffffff;
    border-radius: 50px;
    background-color: #ff0000;
    transition: 0.3s all ease-out;
}
.grid-container .main .contenido{
    border-radius: 15px;
    color: #000;
    background-color:#ffffff;
    font-family: 'Istok Web';
    padding: 10px;
    width: 90%;
    min-height: 250px;
    min-width: 400px;
    padding: 40px 20px;
    transition: all 0.3s ease-out;
}

.grid-container .main .contenido .ContenedorPie{
    font-family:'Istok Web';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 5px;
    padding: 30px 5px 10px 5px;
    transition: 0.3s all ease-out;
}
.grid-container .main .contenido .ContenedorPie .TituloItem{
    padding: 10px 0px 30px 0px;
    margin-bottom: 10px;
    transition: all 0.3s ease-out;
}
.grid-container .main .contenido .ContenedorPie .ChartPie{
    border: rgba(94, 94, 94, 0.61) solid 1px;
    border-radius: 10px;
    transition: all 0.3s ease-out;
}
.grid-container .main .contenido .ContenedorPie .ChartPie Pie1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 10px 0px 10px 0px;
    transition: all 0.3s ease-out;
}


/*---------------- MENU INICIO ESCRITORIO ---------------------*/
.grid-container .main .MenuInicio{
    background-color: #ffffff;
width: 10%;
border-radius: 15px;
margin: 30px 0px 0px 5px;
padding: 10px 20px 10px 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
min-width: 210px;
transition: all 0.3s ease-out;
}
.grid-container .main .MenuInicio .ElementoMenu1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 200px;
    height: 80px;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    background: url(../assets/frio.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 5px 0px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.grid-container .main .MenuInicio .ElementoMenu1:hover{
    background: url(../assets/frio.jpg);
    background-size: normal;
    background-position: center;
    transition: all 0.3s ease-out;
}
.grid-container .main .MenuInicio .ElementoMenu2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 200px;
    height: 80px;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    background: url(../assets/clientes.png);
    background-size: cover;
    background-position: center;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 5px 0px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.grid-container .main .MenuInicio .ElementoMenu3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 200px;
    height: 80px;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    background: url(../assets/Empleados.jpg);
    background-size: cover;
    background-position:initial ;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 5px 0px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.grid-container .main .MenuInicio .ElementoMenu4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-width: 200px;
    height: 80px;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    background: #FFF;
    background-size:50% ;
    background-position: right;
    padding: 10px 20px 10px 20px;
    margin: 5px 0px 5px 0px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.grid-container .main .MenuInicio .TituloItemWEB{
    color: #5E5E5E;
    text-align: initial;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    font-family: Istok Web;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 100%;
    transition: all 0.3s ease-out;
}
.grid-container .main .MenuInicio .ElementoMenu4 .Logo{

    width: 60px;
    height: 60px;
    border-radius: 20px;
    background: url(../assets/04.jpg);
    background-size: 50px 50px;
    transition: 0.3s all ease-out;
}

.grid-container .main .MenuInicio .TituloItem{
    color: #FFF;

    text-align: center;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    font-family: Istok Web;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.3s ease-out;
}
/*---------------- FIN MENU INICIO ---------------------*/


}
 /*-----------------------------FIN VERSION ESCRITORIO -------------*/


/*--------------------- VERSION TABLET----------------------*/
@media(max-width: 1200px){


  .grid-container{
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 60px;
    transition: all 0.3s ease-out;
  }
  .grid-container .main{
    background-color:#dfdfdf;
    font-family: 'Istok Web';
    padding: 5px;
    width: 100%;
    transition: all 0.3s ease-out;
}

  .butonReport{
    width: 190px;
    height: 35px;
    flex-shrink: 0;
    border: none;
    color: #ffffff;
    border-radius: 50px;
    background-color: #ff0000;
    transition: 0.3s all ease-out;
}
.grid-container .main .contenido{
    border-radius: 15px;
    color: #000;
    background-color:#ffffff;
    font-family: 'Istok Web';
    padding: 10px;
    width: 100%;
    min-height: 250px;
    min-width: 400px;
    padding: 40px 20px;
    transition: all 0.3s ease-out;
}

.grid-container .main .contenido .ContenedorPie{
    font-family:'Istok Web';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 5px;
    padding: 30px 5px 10px 5px;
    transition: 0.3s all ease-out;
}
.grid-container .main .contenido .ContenedorPie .TituloItem{
    padding: 10px 0px 30px 0px;
    margin-bottom: 10px;
    transition: all 0.3s ease-out;
}
.grid-container .main .contenido .ContenedorPie .ChartPie{
    border: rgba(94, 94, 94, 0.2) solid 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80%;
    padding: 10px 0px 10px 0px;
    transition: all 0.3s ease-out;
    margin: 5px 10px 5px 10px;
}
/* .grid-container .main .contenido .ContenedorPie .ChartPie Pie1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 10px 0px 10px 0px;
    transition: all 0.3s ease-out;
} */



/*---------------- MENU INICIO ---------------------*/
.main .MenuInicio{
    background-color: #DCDCDC;
width: 100%;
border-radius: 20px;
margin: 5px 0px 5px 0px;
padding: 10px 0px 10px 0px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
min-width: 400px;
transition: 0.3s all ease-out;
}
.main .MenuInicio .ElementoMenu1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24%;
    height: 144px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    background: url(../assets/frio.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 5px 0px;
    transition: 0.3s all ease-out;
}
.main .MenuInicio .ElementoMenu2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24%;
    height: 144px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    background: url(../assets/clientes.png);
    background-size: cover;
    background-position: center;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 5px 0px;
    transition: 0.3s all ease-out;
}
.main .MenuInicio .ElementoMenu3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24%;
    height: 144px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    background: url(../assets/Empleados.jpg);
    background-size: cover;
    background-position:initial ;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 5px 0px;
    transition: 0.3s all ease-out;
}

.main .MenuInicio .ElementoMenu4 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 144px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    background: #FFF;
    background-size:50% ;
    background-position: right;
    padding: 10px 50px 10px 50px;
    margin: 5px 0px 5px 0px;
    position: relative;
    transition: 0.3s all ease-out;
}
.main .MenuInicio .TituloItemWEB{
    color: #5E5E5E;
    text-align: initial;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    font-family: Istok Web;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    transition: 0.3s all ease-out;
}
.main .MenuInicio .ElementoMenu4 .Logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    background: url(../assets/04.jpg);
    background-size: cover ;
    transition: 0.3s all ease-out;
}

.main .MenuInicio .TituloItem{
    color: #FFF;

    text-align: center;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    font-family: Istok Web;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: 0.3s all ease-out;
}
/*---------------- FIN MENU INICIO ---------------------*/

}
/* -------------------------------------FIN TABLET---------------------------------------------*/

/*------------------------------------------ VERSION MOVIL--------------------------------------*/
@media(max-width: 600px){
    .grid-container{
        margin-left: 0px;
        margin-top: 40px;
        margin-bottom: 70px;
        transition: all 0.3s ease-out;
      }

   .butonReport{
    width: 190px;
    height: 35px;
    flex-shrink: 0;
    border: none;
    color: #ffffff;
    border-radius: 50px;
    background-color: #ff0000;
    transition: 0.3s all ease-out;
}

.grid-container .main .contenido .ContenedorPie{
    font-family:'Istok Web';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 30px 0px 10px 0px;
    transition: 0.3s all ease-out;
}

/*---------------- MENU INICIO ---------------------*/
.main .MenuInicio{
    background-color: #DCDCDC;
width: 100%;
border-radius: 20px;
margin: 5px 0px 5px 0px;
padding: 10px 0px 10px 0px;
display: flex;
flex-direction: column;
align-items: center;
min-width: 400px;
transition: all 0.3s ease-out;
}
.main .MenuInicio .ElementoMenu1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 400px;
    height: 144px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    background: url(../assets/frio.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 5px 0px;
    transition: all 0.3s ease-out;
}
.main .MenuInicio .ElementoMenu2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 400px;
    height: 144px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    background: url(../assets/clientes.png);
    background-size: cover;
    background-position: center;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 5px 0px;
    transition: all 0.3s ease-out;
}
.main .MenuInicio .ElementoMenu3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 400px;
    height: 144px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    background: url(../assets/Empleados.jpg);
    background-size: cover;
    background-position:initial ;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 5px 0px;
    transition: all 0.3s ease-out;
}

.main .MenuInicio .ElementoMenu4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-width: 400px;
    height: 144px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    background: #FFF;
    background-size:50% ;
    background-position: right;
    padding: 10px 50px 10px 50px;
    margin: 5px 0px 5px 0px;
    position: relative;
    transition: all 0.3s ease-out;
}
.main .MenuInicio .TituloItemWEB{
    color: #5E5E5E;
    text-align: initial;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    font-family: Istok Web;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.3s ease-out;
}
.main .MenuInicio .ElementoMenu4 .Logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110px;
    height: 110px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    background: url(../assets/04.jpg);
    background-size: cover ;
    padding-left: 20px;
    margin-left: 20px;
    transition: all 0.3s ease-out;
}

.main .MenuInicio .TituloItem{
    color: #FFF;

    text-align: center;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    font-family: Istok Web;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.3s ease-out;
}
/*---------------- FIN MENU INICIO ---------------------*/

}