@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caveat:wght@400;500;600;700&family=Indie+Flower&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&family=Work+Sans:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    font-family:'Istok Web';
    background-color: #A9A5A5;
    font-size: 1,2rem;
    height: 100%;
    color:aliceblue;
    min-width: 500px;
    }
    .grid-container >*{
        border-radius: 4px;
        padding: 10px;
        text-align: center;
        font-family:'Istok Web';
        font-size: 1,2rem;
        height: 100%;
        color:rgb(255, 255, 255);
    }



.main{
    /*grid-area: main;*/
    background-color:#dfdfdf;
    font-family: 'Istok Web';
    padding: 5px;
}
.contenido{
    margin-top: 30px;
   /* grid-area: contenido;*/
    border-radius: 15px;
    color: #000;
    background-color:#ffffff;
    font-family: 'Istok Web';
    padding: 10px;
    min-height: 250px;
}
.contenido .dashboard{
    border: #5C5C5C solid 2px;
    border-radius: 20px;
    width: 95%;
    height: 300px;
    
}

/*------------ VERSION ESCRITORIO----------------------*/
@media(min-width: 1201px){
  
    .header{
        box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
        /*grid-area: header;*/
        background: url(../assets/panes.jpg);
        background-size:cover;
        background-position: center;
        background-color: #ff6600;
        position: fixed;
        top: 0;
        font-size: large;
        height: 100px;
        width: 100%;
        z-index: 95;
        transition: 0.3s;
    }
    .header h2{
        color: #ffffff;
        text-align: center;
        justify-content: center;
        padding-top: 20px;
        font-family: 'Istok Web';
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.70);
    }
    .header img{
        width: 65px;
        height: 65px;
        border: #ffffff80 solid 3px;
        border-radius: 50%;
        position:absolute;
        top: 17%;
        left: 5%;
        z-index: 92;
        cursor: pointer;
    }
    .navbarUMG{
        /*grid-area: navbar; */
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items:center;
        /* margin-top: 100px; */
        width: 160px ;
        height: 100%;
        z-index: 90;
        background-color:#ffffff;
        font-family: 'Istok Web';
        font-size: small;
        padding-top: 30vh;
        padding-bottom: 30vh;
        padding-left: 0px;
        padding-right: 0px;
        color: #5C5C5C;
        box-shadow: 0px 1px 10px 6px rgba(0, 0, 0, 0.20);
        transition: 0.3s;
    }
        .navbarUMG .navB{
width: 90%;
height: 80px;
            padding: 10px;
        }
    .navbarUMG button{
        border: none;
        background-color: transparent;
        color: #5C5C5C;
        padding-left: 20px;
    }
    .navbarUMG button:hover{
        border: none;
        background-color: #ff6600;
        color: #ffffff;
        width: 100%;
        height: 80px;
        border-radius: 1px;
        transition: 0.3s;
    }
       /*--------------------BOTONES DE NAVEGACION-------------------*/
.navbarUMG sapn{
    margin-left: 5px;
    padding-left: 10px;
}
       .navbarUMG .Reportes{
    display: flex;
    flex-direction: row;
justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}
.navbarUMG .Pedidos{
    display: flex;
    flex-direction: row;
justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}
.navbarUMG .Administrar{
    display: flex;
    flex-direction: row;
justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}
.navbarUMG .Inventario{
    display: flex;
    flex-direction: row;
justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

/*-------------------- FIN BOTONES DE NAVEGACION-------------------*/

}
/* -------------------------------------FIN VERSION ESCRITORIO---------------------------------------------*/


/*------------------------------------------ VERSION TABLET-----------------------------------------------*/

@media(min-width: 601px) and (max-width: 1200px){
    .header{
        box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
        grid-area: header;
        background: url(../assets/panes.jpg);
        background-size:cover;
        background-position: center;
        font-size: small;
        position: fixed;
        top: 0; 
        height: 65px;
        width: 100%;
        z-index: 90;
        transition: 0.3s;
    }
    
    
    .header h2{
        color: #ffffff;
        text-align: center;
        justify-content: center;
        padding-top: 20px;
        font-family: 'Istok Web';
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.70);
    }
    .header img{
        width: 50px;
        height: 50px;
        border: #ffffff80 solid 3px;
        border-radius: 50%;
        position:absolute;
        top: 15%;
        left: 5%;
        z-index: 90;
        cursor: pointer;
    }
    .navbarUMG{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0px;
        left: 0px;
        height: 75px;
        width: 100%;
        z-index: 89;
        background-color:#ffffff;
        font-family: 'Istok Web';
        font-size: small;
        padding: 15px;
        color: #5C5C5C;
        box-shadow: 0px 1px 10px 6px rgba(0, 0, 0, 0.20);
        transition: 0.3s;
    }
    .navbarUMG button{
        border: none;
        background-color: transparent;
        color: #5C5C5C;
        transition: 0.5s;
    }
    .navbarUMG button:hover{
        border: none;
        justify-content: center;
        background-color: transparent;
        color: #ff6600;
        width: auto;
        height: auto;
        border-radius: 5px;
        transition: 0.5s;
    }

    .navbarUMG button::before{
        border: none;
        justify-content: center;
        background-color: transparent;
        color: #ff6600;
        width: auto;
        height: auto;
        border-radius: 5px;
        transition: 0.5s;
    }
   /*--------------------BOTONES DE NAVEGACION-------------------*/
.Reportes{
    display: flex;
    flex-direction: column;
    font-size: 8px;
    padding: 5px;
}
.Pedidos{
    display: flex;
    flex-direction: column;
    font-size: 8px;
    padding: 5px;
}
.Administrar{
    display: flex;
    flex-direction: column;
    font-size: 8px;
    padding: 5px;
}
.Inventario{
    display: flex;
    flex-direction: column;
    font-size: 8px;
    padding: 5px;
}
/*-------------------- FIN BOTONES DE NAVEGACION-------------------*/

}

/*-------------------------------------------FIN VERSION TABLET-----------------------------------------*/

/*------------------------------------------ VERSION MOVIL--------------------------------------*/
@media(max-width: 600px){
    .header{
        box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
        grid-area: header;
        background: url(../assets/panes.jpg);
        background-size:cover;
        background-position: center;
        font-size: small;
        position: fixed;
        top: 0; 
        height: 65px;
        width: 100%;
        min-width: 400px;
        z-index: 90;
        transition: 0.3s;
    }
    .header h2{
        color: #ffffff;
        text-align: center;
        justify-content: center;
        padding-top: 20px;
        font-family: 'Istok Web';
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.70);
    }
    .header img{
        width: 50px;
        height: 50px;
        border: #ffffff80 solid 3px;
        border-radius: 50%;
        position:absolute;
        top: 15%;
        left: 5%;
        z-index: 90;
        cursor: pointer;
    }
    .navbarUMG{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0px;
        left: 0px;
        height: 75px;
        width: 100%;
         min-width: 400px;
        z-index: 90;
        background-color:#ffffff;
        font-family: 'Istok Web';
        font-size: small;
        padding: 15px;
        color: #5C5C5C;
        box-shadow: 0px 1px 10px 6px rgba(0, 0, 0, 0.20);
        transition: 0.3s;
    }
    .navbarUMG button{
        border: none;
        background-color: transparent;
        color: #5C5C5C;
        transition: 0.5s;
    }
    .navbarUMG button:hover{
        border: none;
        justify-content: center;
        background-color: transparent;
        color: #ff6600;
        width: auto;
        height: auto;
        border-radius: 5px;
        transition: 0.5s;
    }

    .navbarUMG button::after{
        border: none;
        justify-content: center;
        background-color: transparent;
        color: #ff6600;
        width: auto;
        height: auto;
        border-radius: 5px;
        transition: 0.5s;
    }
   /*--------------------BOTONES DE NAVEGACION-------------------*/
.Reportes{
    display: flex;
    flex-direction: column;
    font-size: 8px;
    padding: 5px;
}
.Pedidos{
    display: flex;
    flex-direction: column;
    font-size: 8px;
    padding: 5px;
}
.Administrar{
    display: flex;
    flex-direction: column;
    font-size: 8px;
    padding: 5px;
}
.Inventario{
    display: flex;
    flex-direction: column;
    font-size: 8px;
    padding: 5px;
}
/*-------------------- FIN BOTONES DE NAVEGACION-------------------*/

}